@import url(base.css);

.container {
  width: 90%;
  height: inherit;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px 0;
  color: var(--light);
  background-color: var(--dark);
  text-decoration: underline;
  border-radius: 10px 10px 0 0;
}

.search-filter form {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  margin-bottom: 1px;
  padding: 10px 20px 20px 20px;
  position: relative;
}

input {
  padding: 7px 10px 7px 40px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  border: none;
  color: var(--dark);
  background-color: var(--light);
}

.search-filter form i {
  position:absolute;
  top: 14px;
  left: 27px;
  font-size: 22px;
}

.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table td, table th {
  padding: 5px 10px;
  text-align: left;
}

table tr:nth-child(even){background-color: var(--white);}
table tr:nth-child(odd){background-color: var(--light) }

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--dark);
  color: var(--white);
}

table tr i {
  margin-left: 5px;
  cursor: pointer;
  color: var(--light);
}

table td i {
  color: var(--dark);
}

table td img {
  border-radius: 50%;
}

table td input {
  width: auto;
  background-color: rgb(228, 236, 228);
  padding: 5px 10px;
}

table td input:disabled {
  background-color: inherit
}

select {
  border-radius: 5px;
  padding: 0 15px;
  outline: none;
  border: none;
  background-color: var(--light);
  font-size: 14px;
}

select option {
  font-size: 16px;
}

#fixed-button button {
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 12px;
  cursor: pointer;
}